/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
  border-bottom-color:#006699;
  border-bottom-style:solid;
  border-bottom-width:1px;
  list-style-type:none;
  margin-bottom:1em;
  margin-left:0;
  margin-right:0;
  margin-top:1em;
  padding-bottom:3px;
  padding-left:10px;
  padding-right:10px;
  padding-top:3px;
  text-align:left;
}

#main-menu li {
  background-color:#FFFFFF;
  border-bottom-color:#FFFFFF;
  border-bottom-style:solid;
  border-bottom-width:1px;
}

#main-menu li.first a{
  margin-left: 0px;
}

#main-menu li a {
  margin-left: 15px;
  background-color:#6699cc;
  border-bottom-color:006699;
  border-bottom-style:none;
  border-bottom-width:006699;
  border-left-color:#006699;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#006699;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#006699;
  border-top-style:solid;
  border-top-width:1px;
  color:#666666;
  margin-right:0;
  padding-bottom:3px;
  padding-left:4px;
  padding-right:4px;
  padding-top:3px;
  text-decoration:none;
}

#main-menu li.active a {
  background-color:#FFFFFF;
  color:#000000;
  padding-top:4px;
  position:relative;
  top:1px;
}

#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}
